{% extends 'base.html' %}


{% block head_title %}
Matches -
{% endblock head_title %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col">
            <h1 class="display-3">Matches</h1>
        </div>
        <div class="col pt-3 text-end px-5">
            <a class="text-decoration-none"
                href="">
                <span class="material-symbols-outlined text-dark fs-1">
                    add_circle
                </span></a>
        </div>
    </div>
    <hr>
    <ol>
        {% for batting in object_list %}
        <li><a class="text-dark"
                href="{% url 'batting-detail' batting.pk %}">{{batting}}</a></li>
        {% endfor %}
    </ol>
</div>

{% endblock content %}