{% extends 'base.html' %}


{% block head_title %}
Matches -
{% endblock head_title %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col">
            <h1 class="display-3">Matches</h1>
        </div>
        {% if request.user.is_superuser %}
        <div class="col pt-3 text-end px-5">
            <a class="text-decoration-none"
                href="/admin/">
                <span class="material-symbols-outlined text-dark fs-1">
                    add_circle
                </span></a>
        </div>
        {% endif %}
    </div>
    <hr>
    <ol>
        {% for match in object_list %}
        <li><a class="btn btn-sm btn-outline-dark mb-3"
                href="{% url 'detail' match.pk %}">{{match}}</a></li>
        {% endfor %}
    </ol>
</div>

{% endblock content %}