{% extends 'base.html' %}


{% block head_title %}
Matches -
{% endblock head_title %}

{% block content %}


<div class="container py-5">
   
    <div class="row">
        <div class="col">
            <h1 class="display-3">Matches</h1>
        </div>
        {% if request.user.is_superuser %}
        <div class="col pt-3 text-end px-5">
            <a class="text-decoration-none"
                href="/admin/">
                <span class="material-symbols-outlined text-dark fs-1">
                    add_circle
                </span></a>
        </div>
        {% endif %}
    </div>
    <hr>
    <div class="py-3 col-lg-3">
        <form action=""
            method="get">
            <select name="q"
                class="form-control form-control-sm rounded-pill"
                id="teams"
                onchange="this.form.submit()">
                <option value="teams">Teams</option>
                {% for team in teams %}
                <option value="{{team.name}}">{{team.name}}</option>
                {% endfor %}
            </select>
        </form>
    </div>
    <ol>
        {% for match in object_list %}
        <li><a class="text-dark small"
                href="{% url 'detail' match.pk %}">{{match.team1}} VS
                {{match.team2}} {{match.match_date}} at
                {{match.match_time.time|time:"g:s a"|default:"00:00:00"}} -
                {{match.venue}}</a></li>
        {% empty %}
        <p class="">No Matches</p>
        {% endfor %}
    </ol>
</div>

{% endblock content %}