{% extends 'base.html' %}


{% block head_title %}
Matches -
{% endblock head_title %}

{% block content %}


<div class="container py-5">
    <div class="row">
        <div class="col">
            <h1 class="display-3">Matches</h1>
        </div>
        {% if request.user.is_superuser %}
        <div class="col pt-3 text-end px-5">
            <a class="text-decoration-none"
                href="/admin/">
                <span class="material-symbols-outlined text-dark fs-1">
                    add_circle
                </span></a>
        </div>
        {% endif %}
    </div>
    <hr>
    <form action=""
        method="get">
        <div class="col-lg-6 mx-auto container">
            <div class="row justify-content-center bg-white rounded-4 p-3">
                <div class="col py-3">
                    <select name="team"
                        class="form-control form-control-sm rounded-pill me-3"
                        id="teams"
                        onchange="this.form.submit()">
                        <option value="">Teams</option>
                        {% for team in teams %}
                        <option value="{{team.name}}">{{team.name}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col py-3">
                    <select name="tournament"
                        class="form-control form-control-sm rounded-pill"
                        id="tournaments"
                        onchange="this.form.submit()">
                        <option value="">Tournament</option>
                        {% for tournament in tournaments %}
                        <option value="{{tournament.name}}">
                            {{tournament.name}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <a class="small text-dark text-end px-4"
                    href="/">reset</a>
            </div>
        </div>
    </form>

    <br>
    {% for match in object_list %}
    <a class="text-dark text-decoration-none"
        href="{% url 'detail' match.pk %}">
        <div class="col-lg-5 mx-auto py-3 px-0 rounded-4 mb-3 bg-white shadow">
            <div class="text-center">
    <span class="text-muted small">{{match.match_date|date:"l dS F Y"}} |
                    {{match.match_time.time|time:"g:s a"|default:"00:00:00"}}
                    | {{match.venue}}
                </span>
            </div>
            <hr>
            <div class="text-center">
                <span class="text-dark"><u>{{match.team1}}</u></span>
                VS
                <span class="text-dark"><u>{{match.team2}}</u></span>
            </div>
        </div>
    </a>

    {% empty %}
    <p class="text-center">No Matches</p>
    {% endfor %}
</div>

{% endblock content %}